.comment-form {
    background-color: rgba(0, 128, 0, 0.1); /* Verde transparente */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    border-radius: 4px;
  }