<div class="standings-container">
  <h1>Tabla de Posiciones</h1>
  <app-league-filter (filterChanged)="onFilterChanged($event)"></app-league-filter>
  <table>
    <thead>
      <tr>
        <th>Pos</th>
        <th>Equipo</th>
        <th>PJ</th>
        <th>PG</th>
        <th>PE</th>
        <th>PP</th>
        <th>GF</th>
        <th>GC</th>
        <th>DIF</th>
        <th>Pts</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of standings">
        <td>{{ team.position }}</td>
        <td>
          <div class="team-name">
            <img [src]="team.team.logo" [alt]="team.team.name" class="team-logo">
            {{ team.team.name }}
          </div>
        </td>
        <td>{{ team.total.games }}</td>
        <td>{{ team.total.wins }}</td>
        <td>{{ team.total.draws }}</td>
        <td>{{ team.total.loses }}</td>
        <td>{{ team.total.scoredGoals }}</td>
        <td>{{ team.total.receivedGoals }}</td>
        <td>{{ team.total.scoredGoals - team.total.receivedGoals }}</td>
        <td>{{ team.points }}</td>
      </tr>
    </tbody>
  </table>
</div>