
    /* Contenedor principal */
    .container {
        background-color: rgba(34, 139, 34, 0.8); 
        padding: 20px;
        border-radius: 15px;
        max-width: 1200px;
        margin: 20px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    /* Estilo de las noticias */
    .featured-news {
        background-color: rgba(255, 255, 255, 0.9); 
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .featured-news img {
        max-width: 100%;
        border-radius: 8px;
        margin-bottom: 15px;
    }
    
    .featured-title {
        font-size: 1.8em;
        color: #28527a;
        font-weight: bold;
    }
    
    .featured-summary {
        color: #333;
        font-size: 1.1em;
    }
    
    .btn-primary {
        background-color: #2d6a4f;
        border: none;
        font-weight: bold;
    }