.team-detail-container {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .player-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  .player-table th,
  .player-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    color: #ffffff;
  }
  
  .player-table th {
    background-color: rgba(24, 34, 24, 0.8);
    font-weight: bold;
  }
  
  .player-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .player-table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .team-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .back-button {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .btn-back {
    background-color: #e4e4e4;
    color: #333;
    border: none;
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .btn-back i {
    margin-right: 5px;
  }
  