<div class="matches-filter-container">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="matches-filter-form">
    <div class="form-group">
      <label for="date" class="filter-label">Fecha:</label>
      <input type="date" id="date" formControlName="date" class="form-control">
    </div>
    
    <div class="form-group">
      <label for="country" class="filter-label">País:</label>
      <select id="country" formControlName="country" class="form-control">
        <option value="">Todos los países</option>
        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-filter">Filtrar</button>
  </form>
</div>