<footer style="background-color: #414347; color: white; padding: 20px; text-align: center;">
    <div>
        <p>&copy; 2024 Proyecto Académico - Tecnicatura Universitaria en Programación, UTN Mar del Plata</p>
        <p>Desarrollado por: 
            <a href="mailto:kevintolosa2000@gmail.com" style="color: white; text-decoration: none;">
                Kevin Tolosa <img src="assets/gmail-icon-logo-svgrepo-com.svg" alt="Enviar email" style="width: 20px; height: 20px; margin-left: 8px;">
            </a>, 
            <a href="mailto:crisrolandi2@gmail.com" style="color: white; text-decoration: none;">
                Cristian Rolandi <img src="assets/gmail-icon-logo-svgrepo-com.svg" alt="Enviar email" style="width: 20px; height: 20px; margin-left: 8px;">
            </a>, 
            <a href="mailto:rivarola.mdq@gmail.com" style="color: white; text-decoration: none;">
                Lucas Rivarola <img src="assets/gmail-icon-logo-svgrepo-com.svg" alt="Enviar email" style="width: 20px; height: 20px; margin-left: 8px;">
            </a>
        </p>
    </div>
    <div>
        <p>GitHub del proyecto:</p>
        <a href="https://github.com/Luksmdp/Futbol-Para-Todos" target="_blank" style="color: white;">
            <img src="assets/github-logo-7880D80B8D-seeklogo.com.png" alt="GitHub" style="width: 30px; height: 30px;">
        </a>
    </div>
</footer>
