body {
    background-color: #91eb9e; /* Color de fondo verde claro, puedes cambiarlo */
    background-image: url('assets/green-grass-texture-fresh-lawn-summer-grass-background-vector.jpg');
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-attachment: fixed; /* Fijar la imagen de fondo al hacer scroll */
}