.forum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  h1 {
        font-size: 2.5em; 
        font-weight: bold; 
        color: #fff; 
        text-align: center;
        margin: 20px auto; 
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
        background-color: rgba(1, 97, 1, 0.5); 
        padding: 10px 20px; 
        border-radius: 10px; 
        width: fit-content;
    
  }
  
  .bubble {
    background-color: #ffffff; /* Fondo blanco de la burbuja */
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 10px 0;
    width: 90%;
    max-width: 800px;
    border: 2px solid #4CAF50; /* Borde verde */
  }
  
  .topic-title {
    font-size: 1.5em;
    color: #2E8B57; /* Verde tipo césped */
    text-decoration: none;
    font-weight: bold;
  }
  
  .topic-title:hover {
    text-decoration: underline;
  }
  
  .topic-description {
    font-size: 1em;
    color: #333;
  }